Master_Agent.json
{
  "name": "Master_Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1296,
        16
      ],
      "id": "c1a1077d-d8c3-498c-b1ed-e54307edde61",
      "name": "When chat message received",
      "webhookId": "11494ecc-14dd-40e7-828b-0daddfc3f7a2",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -416,
        -128
      ],
      "id": "7ee22275-3a5b-48b3-9919-f86be3e6c966",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22065826-d501-4511-9ddd-4842378c4548",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "9a37de7a-05ed-4fe9-ad81-7b68ae950d54",
              "name": "user_name",
              "value": "={{ $json.user_name }}",
              "type": "string"
            },
            {
              "id": "82233f1c-f232-4424-85a9-41736aa5191d",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        112
      ],
      "id": "b83b7ab6-6123-400b-a60a-f4a7686a0f24",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n\"message\": {{ $json.message }},\n\"user_id\": {{ $json.user_id }},\n\"user_name\": {{ $json.user_name }}\n}",
        "options": {
          "systemMessage": "=# Peran:\nKamu adalah Master AI Agent IWKZ yang cerdas dan ramah. Tugas utamanya adalah mengoordinasikan perintah pengguna ke tool yang tepat dan memberikan jawaban yang dioptimalkan khusus untuk tampilan WhatsApp.\n\n## Tools:\n- JadwalShalatAgent: Gunakan untuk pertanyaan jadwal shalat (Subuh, Terbit, Dzuhur, Ashar, Maghrib, Isya) dan jam Shalat Jumat.\n- TokoAlFalahAgent: Gunakan untuk informasi produk, konfirmasi pembelian, dan konfirmasi pembayaran di Toko AlFalah.\n- NukiPintuMasjidAgent: Gunakan untuk perintah membuka atau menutup pintu masjid secara remote.\n- IWKZRAGAgent: Gunakan untuk pertanyaan umum seputar IWKZ, Masjid Al-Falah, struktur organisasi, divisi, dan kegiatan komunitas.\n- LaporanKeuanganAgent: Gunakan untuk data pemasukan, pengeluaran, dan laporan keuangan IWKZ/PRS berdasarkan periode waktu.\n- CalendarAgent: Gunakan untuk mengetahui jadwal kegiatan atau detail event IWKZ di waktu mendatang.\n- TafsirQuranAgent: Gunakan tool ini saat pengguna bertanya / meminta tafsir, penjelasan, atau makna dari ayat atau surat Al-Quran.\n\n## Aturan Respons & Format WhatsApp (WAJIB):\n1. **Dilarang menggunakan Markdown Header:** Jangan gunakan `#`, `##`, atau `###`. Sebagai gantinya, gunakan huruf kapital tebal (Contoh: *OPERASIONAL IWKZ*).\n2. **Bold/Tebal:** Gunakan satu tanda bintang di awal dan akhir kata/kalimat `*teks*` untuk menebalkan (WhatsApp hanya mendukung single asterisk).\n3. **List/Daftar:** Gunakan bullet poin sederhana seperti `-` atau `•` atau angka `1.`. Hindari indentasi yang terlalu dalam agar tidak berantakan di layar HP.\n4. **Pemisah Seksi:** Gunakan baris baru (double enter) untuk memisahkan antar topik agar teks tidak menumpuk.\n5. **Emoji:** Gunakan emoji yang relevan (seperti 🟢, 🔴, 📅, 💰) agar informasi lebih mudah dipindai secara visual.\n6. **Personalisasi:** Sebut nama `user_name` di awal atau akhir respons agar terasa lebih akrab dan friendly.\n7. **Bahasa:** Gunakan bahasa Indonesia yang santai, sopan, dan membantu.\n\n## Filter Topik:\n- Jika pertanyaan di luar lingkup IWKZ/PRS, berikan respons default secara sopan bahwa kamu hanya bisa membantu terkait ekosistem IWKZ.\n- Jalankan tool secara independen (satu tool per satu respons).\n\n## Default Response (Sapaan):\nJika pengguna menyapa (Halo/Assalammu'alaikum), balas:\n\"Wa'alaikummussalam/Halo user_name! Saya AI Agent IWKZ. Saya bisa membantu kamu cek:\n1. Informasi seputar IWKZ e.V.\n2. Jadwal Sholat & Kegiatan Masjid.\n3. Laporan Keuangan.\nMau tanya tentang apa hari ini?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -416,
        112
      ],
      "id": "5137f91b-063f-464b-a5db-f71fd199ce71",
      "name": "IWKZ AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "name": "TokoAlFalahAgent",
        "description": "gunakan tool ini jika berkaitan dengan toko alfalah.",
        "workflowId": {
          "__rl": true,
          "value": "mYFvl69PBKzuuacP",
          "mode": "list",
          "cachedResultUrl": "/workflow/mYFvl69PBKzuuacP",
          "cachedResultName": "TokoAlFalahAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -384,
        480
      ],
      "id": "c64f2679-8996-40dc-a36d-d6dd2966bea7",
      "name": "TokoAlFalahAgent"
    },
    {
      "parameters": {
        "name": "JadwalShalatAgent",
        "description": "gunakan tool ini jika pengguna bertanya tentang jadwal shalat. jadwal shalat terdiri dari, subuh, terbit, dzuhur, ashr, maghrib dan isya atau jam sholat jumat.",
        "workflowId": {
          "__rl": true,
          "value": "6dS6Jt4isyRkn5iZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/6dS6Jt4isyRkn5iZ",
          "cachedResultName": "JadwalShalatAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -544,
        480
      ],
      "id": "97537c1c-8eff-4900-9f8e-458f99e17003",
      "name": "JadwalShalatAgent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f75aefe1-64e3-4c80-a3ec-ab258c2a59fb",
              "name": "user_id",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "7b5c656d-61e1-46ec-af60-af077d4ef08d",
              "name": "user_name",
              "value": "test_ai_agent_iwkz",
              "type": "string"
            },
            {
              "id": "bf87703f-a367-48e5-9516-594a863bcc86",
              "name": "message",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        16
      ],
      "id": "01fb0da6-db58-428e-8fab-0b942b1c38c5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e21fa4f-44af-46ab-94ca-95c17d5e7000",
              "name": "user_id",
              "value": "={{ $('WA').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "9e05d688-d8c8-4286-8a1b-a84e8a93f032",
              "name": "user_name",
              "value": "={{ $('WA').item.json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "9a713a4c-ff3d-4af0-9952-6cef41a6ad08",
              "name": "message",
              "value": "={{ $('WA').item.json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        224
      ],
      "id": "da211847-0371-408d-b629-87bb8e17e3b0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba6c8bec-3279-4e4a-8e6b-ff2369fc2e39",
              "leftValue": "={{ $('Edit Fields').item.json.user_name }}",
              "rightValue": "test_ai_agent_iwkz",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        112
      ],
      "id": "89f25c86-63be-4da6-b519-eaf2ef58219a",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5bb7505-0d1d-4707-ba57-75d16a831db4",
              "name": "output",
              "value": "={{ $('IWKZ AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        208
      ],
      "id": "b3365f35-fb52-4a89-b8bf-8dc969dcf3d0",
      "name": "Send Response To Chat"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "636769649516172",
        "recipientPhoneNumber": "={{ $('Edit Fields').item.json.user_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        304,
        -32
      ],
      "id": "2769c388-9eb9-47f4-961c-94ac2803b235",
      "name": "Send Response To WA",
      "webhookId": "f50eec49-3146-4ccb-80da-a143c8c63490",
      "credentials": {
        "whatsAppApi": {
          "id": "MSWEoSsa0mu3bbxH",
          "name": "WhatsApp - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "name": "NukiPintuMasjidAgent",
        "description": "gunakan tool ini jika pengguna ingin membuka atau menutup pintu masjid",
        "workflowId": {
          "__rl": true,
          "value": "zEAv0hwBIBtPAkIp",
          "mode": "list",
          "cachedResultUrl": "/workflow/zEAv0hwBIBtPAkIp",
          "cachedResultName": "NukiPintuMasjidAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -480,
        640
      ],
      "id": "07e848d6-8997-47e9-b56a-9b08f9b9008c",
      "name": "NukiPintuMasjidAgent"
    },
    {
      "parameters": {
        "name": "IWKZRAGAgent",
        "description": "gunakan tool ini ketika pengguna bertanya seputar iwkz / masjid alfalah, kepengurusan, kegiatan dan ruang lingkup bidang atau divisi dikepengurusan.",
        "workflowId": {
          "__rl": true,
          "value": "d5RVNl0yye2ZDGCq",
          "mode": "list",
          "cachedResultUrl": "/workflow/d5RVNl0yye2ZDGCq",
          "cachedResultName": "IWKZRAGAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -272,
        624
      ],
      "id": "af02abc2-6d8a-47ce-b5e3-7dd309b64d74",
      "name": "IWKZRAGAgent"
    },
    {
      "parameters": {
        "name": "LaporanKeuanganAgent",
        "description": "gunakan tool ini jika pengguna bertanya terkait pemasukan, pengeluaran, laporan keuangan dari IWKZ berdasarkan bulan / tahun atau kombinasi keduanya.",
        "workflowId": {
          "__rl": true,
          "value": "EUuE5WTJ8Kj9KVGp",
          "mode": "list",
          "cachedResultUrl": "/workflow/EUuE5WTJ8Kj9KVGp",
          "cachedResultName": "LaporanKeuanganAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -112,
        640
      ],
      "id": "f565f1b0-0fdf-4bf7-849d-98372eca6737",
      "name": "LaporanKeuanganAgent"
    },
    {
      "parameters": {
        "name": "CalendarAgent",
        "description": "gunakan tool ini jika pengguna ingin mengetahui kegiatan / event dari IWKZ dalam waktu dekat. atau jika pengguna menanyakan informasi dari sebuah kegiatan / event, berdasarkan waktu yang diberikan.",
        "workflowId": {
          "__rl": true,
          "value": "pmcl7auIl2KThFSh",
          "mode": "list",
          "cachedResultUrl": "/workflow/pmcl7auIl2KThFSh",
          "cachedResultName": "CalendarAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -192,
        480
      ],
      "id": "364a57f6-d5aa-4453-8c5a-ea2d28d7e1d8",
      "name": "CalendarAgent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user_id }}",
        "databaseName": "iwkz",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -320,
        -16
      ],
      "id": "fa7a6e7e-920d-4cd8-9420-b049b54e8d38",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "lwP0ljaTccDiNveO",
          "name": "MongoDB - info@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f8848842-5245-4109-b6e4-0c8c72cc4a28",
              "leftValue": "={{ $json.contacts[0].wa_id }}",
              "rightValue": "=null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "82a4c003-5090-4767-b1d6-713139d25ff5",
              "leftValue": "={{ $json.contacts[0].wa_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        240
      ],
      "id": "4110ef7c-542e-48ab-a9dd-928af39ba45d",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  let text = item.json.output || \"\"; // Sesuaikan nama properti output AI Anda\n\n  // 1. Ubah Bold Markdown (**teks**) menjadi Bold WhatsApp (*teks*)\n  // Menggunakan regex untuk menangkap teks di antara ** dan menggantinya dengan *\n  text = text.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n  // 2. Ubah Headers (### Judul) menjadi Bold Uppercase\n  // WhatsApp tidak mendukung header, jadi kita ubah jadi huruf kapital tebal\n  text = text.replace(/^#+\\s*(.*)$/gm, (match, p1) => {\n    return '*' + p1.toUpperCase() + '*';\n  });\n\n  // 3. Rapikan Unordered List\n  // Kadang AI pakai '*' untuk list yang bentrok dengan Bold WA. \n  // Kita pastikan list menggunakan bullet point '•' atau '-'\n  text = text.replace(/^\\s*\\*\\s+/gm, '• ');\n\n  // 4. Hapus Escaped Characters\n  // Kadang AI menambahkan backslash sebelum karakter spesial (seperti \\_ atau \\*)\n  text = text.replace(/\\\\([\\_\\*\\[\\]\\(\\)#\\+\\-\\.!\\{\\}])/g, '$1');\n\n  // 5. Normalisasi Spasi Baris (Line Breaks)\n  // Memastikan tidak ada lebih dari dua enter berurutan agar chat tidak terlalu panjang\n  text = text.replace(/\\n{3,}/g, '\\n\\n');\n\n  // 6. Pastikan Link tetap aman\n  // WhatsApp otomatis merender link, jadi kita hanya bersihkan jika ada format [text](url)\n  text = text.replace(/\\[(.*?)\\]\\((.*?)\\)/g, '$1: $2');\n\n  // Masukkan kembali teks yang sudah bersih ke dalam item\n  item.json.output = text.trim();\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -32
      ],
      "id": "dfc96c36-8c9c-4462-b1aa-a10098f7e4b6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/636769649516172/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1008,
        224
      ],
      "id": "6aa8480c-31a1-4f5d-a252-875930eb6e86",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "XlsbjJTDkKmoIEhQ",
          "name": "Whatsapp Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AqwQtmhrdGvej6EW",
          "mode": "list",
          "cachedResultUrl": "/workflow/AqwQtmhrdGvej6EW",
          "cachedResultName": "TafsirQuranAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -32,
        480
      ],
      "id": "7657af12-d776-428d-9ff1-8a5e9dc39101",
      "name": "Call 'TafsirQuranAgent'"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        240
      ],
      "id": "ed2948f3-64d4-440a-820e-0894a4797bb9",
      "name": "WA",
      "webhookId": "d4b711f4-b4ea-409c-852c-70d143ba0253",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "17NbTkKtPeHhuQUi",
          "name": "WhatsApp - juan@iwkz.de"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IWKZ AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TokoAlFalahAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "JadwalShalatAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Response To Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NukiPintuMasjidAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IWKZRAGAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LaporanKeuanganAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CalendarAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Response To WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'TafsirQuranAgent'": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WA": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ff480200-94ce-43af-b789-7a60b4fcd4d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "xWl4OeNNi3OQGngF",
  "tags": []
}