Master_Agent.json
{
  "name": "Master_Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        32
      ],
      "id": "c1a1077d-d8c3-498c-b1ed-e54307edde61",
      "name": "When chat message received",
      "webhookId": "11494ecc-14dd-40e7-828b-0daddfc3f7a2",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        320
      ],
      "id": "7ee22275-3a5b-48b3-9919-f86be3e6c966",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22065826-d501-4511-9ddd-4842378c4548",
              "name": "user_id",
              "value": "={{ $('Edit Fields2').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "9a37de7a-05ed-4fe9-ad81-7b68ae950d54",
              "name": "user_name",
              "value": "={{ $('Edit Fields2').item.json.user_name }}",
              "type": "string"
            },
            {
              "id": "82233f1c-f232-4424-85a9-41736aa5191d",
              "name": "message",
              "value": "={{ $('Edit Fields2').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        112
      ],
      "id": "b83b7ab6-6123-400b-a60a-f4a7686a0f24",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n\"message\": {{ $json.message }},\n\"user_id\": {{ $json.user_id }},\n\"user_name\": {{ $json.user_name }}\n}",
        "options": {
          "systemMessage": "=# Peran:\nKamu adalah master AI Agent IWKZ yang bertanggung jawab untuk memberikan tugas ke tool yang sesuai dengan perintah dari pengguna. \n\n## Tools:\n- JadwalShalatAgent: gunakan tool ini ketika pengguna bertanya terkait jadwal shalat. jadwal shalat terdiri dari subuh, terbit, dzuhur, ashr, maghrib dan isya dan juga bertanya jam shalat jumat.\n- TokoAlFalahAgent: gunakan tool ini ketika pengguna bertanya terkait Toko AlFalah: menampilkan produk jualan, konfirmasi pembelian produk dan konfirmasi pembayaran.\n- NukiPintuMasjidAgent: gunakan tool ini ketika pengguna ingin membuka atau menutup pintu masjid.\n- IWKZRAGAgent: gunakan tool ini ketika pengguna bertanya seputar iwkz / masjid alfalah, kepengurusan, ruang lingkup bidang atau divisi dikepengurusan dan seputar kegiatan IWKZ atau masjid AlFalah. berikan output yang friendly ke pengguna.\n- LaporanKeuanganAgent: gunakan tool ini jika pengguna bertanya terkait pemasukan, pengeluaran, laporan keuangan dari IWKZ / PRS (proyek rumah surga) berdasarkan bulan / tahun atau kombinasi keduanya.\n- CalendarAgent: gunakan tool ini jika pengguna ingin mengetahui kegiatan / event dari IWKZ dalam waktu dekat. atau jika pengguna menanyakan informasi dari sebuah kegiatan / event, berdasarkan waktu yang diberikan.\n\n## Response Rules:\n- Pastikan pertanyaan pengguna relevant dengan perintah serta fokus pada topik IWKZ / PRS. Jika pertanyaan diluar topik IWKZ / PRS maka hiraukan pertanyaan dan tampilkan default response. \n- pastikan setiap tools yang tertera diatas berjalan secara independen, jangan sampai ada penggunaan tools lebih dari satu dalam menentukan response dari pengguna.\n- Menggunakan bahasa yang santai dan ramah. Berikan response yang rapih dan jelas, sesekali bisa sertakan user_name pada output agar terlihat lebih ramah.\n- Pastikan response susai dengan format Whatsapp, karena pengguna berinteraksi dengan kamu melalui Whatsapp.\n\n## Default Response:\n- Jika pengguna hanya menyapa dengan \"hallo / hi / Assalammu'alaikum\" berikan informasi perintah yang dapat kamu kerjakan seperti berikut:\n- input: \"Hallo atau Assalammu'alaikum\"\n- response: \"Hallo user_name atau Wa'alaikummussalam wr wb, salam kenal user_name saya adalah AI Agent IWKZ, kamu bisa bertanya kepada saya seputar:\n1. IWKZ e.V.\n1. Jadwal Sholat Harian\n2. Produk Jualan Toko AlFalah. \n\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -416,
        112
      ],
      "id": "5137f91b-063f-464b-a5db-f71fd199ce71",
      "name": "IWKZ AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "name": "TokoAlFalahAgent",
        "description": "gunakan tool ini jika berkaitan dengan toko alfalah.",
        "workflowId": {
          "__rl": true,
          "value": "mYFvl69PBKzuuacP",
          "mode": "list",
          "cachedResultUrl": "/workflow/mYFvl69PBKzuuacP",
          "cachedResultName": "TokoAlFalahAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -256,
        688
      ],
      "id": "c64f2679-8996-40dc-a36d-d6dd2966bea7",
      "name": "TokoAlFalahAgent"
    },
    {
      "parameters": {
        "name": "JadwalShalatAgent",
        "description": "gunakan tool ini jika pengguna bertanya tentang jadwal shalat. jadwal shalat terdiri dari, subuh, terbit, dzuhur, ashr, maghrib dan isya atau jam sholat jumat.",
        "workflowId": {
          "__rl": true,
          "value": "6dS6Jt4isyRkn5iZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/6dS6Jt4isyRkn5iZ",
          "cachedResultName": "JadwalShalatAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -432,
        688
      ],
      "id": "97537c1c-8eff-4900-9f8e-458f99e17003",
      "name": "JadwalShalatAgent"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        224
      ],
      "id": "ed2948f3-64d4-440a-820e-0894a4797bb9",
      "name": "When Message Received",
      "webhookId": "d4b711f4-b4ea-409c-852c-70d143ba0253",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "17NbTkKtPeHhuQUi",
          "name": "WhatsApp - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f75aefe1-64e3-4c80-a3ec-ab258c2a59fb",
              "name": "user_id",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "7b5c656d-61e1-46ec-af60-af077d4ef08d",
              "name": "user_name",
              "value": "test_ai_agent_iwkz",
              "type": "string"
            },
            {
              "id": "bf87703f-a367-48e5-9516-594a863bcc86",
              "name": "message",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        32
      ],
      "id": "01fb0da6-db58-428e-8fab-0b942b1c38c5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e21fa4f-44af-46ab-94ca-95c17d5e7000",
              "name": "user_id",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "9e05d688-d8c8-4286-8a1b-a84e8a93f032",
              "name": "user_name",
              "value": "={{ $json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "9a713a4c-ff3d-4af0-9952-6cef41a6ad08",
              "name": "message",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "332c3f2e-6c7a-46ca-a6f4-0f63ccb8f790",
              "name": "message_id",
              "value": "={{ $json.messages[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        224
      ],
      "id": "da211847-0371-408d-b629-87bb8e17e3b0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba6c8bec-3279-4e4a-8e6b-ff2369fc2e39",
              "leftValue": "={{ $('Edit Fields').item.json.user_name }}",
              "rightValue": "test_ai_agent_iwkz",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        112
      ],
      "id": "89f25c86-63be-4da6-b519-eaf2ef58219a",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5bb7505-0d1d-4707-ba57-75d16a831db4",
              "name": "output",
              "value": "={{ $('IWKZ AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        208
      ],
      "id": "b3365f35-fb52-4a89-b8bf-8dc969dcf3d0",
      "name": "Send Response To Chat"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "636769649516172",
        "recipientPhoneNumber": "={{ $('Edit Fields').item.json.user_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "2769c388-9eb9-47f4-961c-94ac2803b235",
      "name": "Send Response To WA",
      "webhookId": "f50eec49-3146-4ccb-80da-a143c8c63490",
      "credentials": {
        "whatsAppApi": {
          "id": "MSWEoSsa0mu3bbxH",
          "name": "WhatsApp - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "name": "NukiPintuMasjidAgent",
        "description": "gunakan tool ini jika pengguna ingin membuka atau menutup pintu masjid",
        "workflowId": {
          "__rl": true,
          "value": "zEAv0hwBIBtPAkIp",
          "mode": "list",
          "cachedResultUrl": "/workflow/zEAv0hwBIBtPAkIp",
          "cachedResultName": "NukiPintuMasjidAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -96,
        688
      ],
      "id": "07e848d6-8997-47e9-b56a-9b08f9b9008c",
      "name": "NukiPintuMasjidAgent"
    },
    {
      "parameters": {
        "name": "IWKZRAGAgent",
        "description": "gunakan tool ini ketika pengguna bertanya seputar iwkz / masjid alfalah, kepengurusan, kegiatan dan ruang lingkup bidang atau divisi dikepengurusan.",
        "workflowId": {
          "__rl": true,
          "value": "d5RVNl0yye2ZDGCq",
          "mode": "list",
          "cachedResultUrl": "/workflow/d5RVNl0yye2ZDGCq",
          "cachedResultName": "IWKZRAGAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        64,
        688
      ],
      "id": "af02abc2-6d8a-47ce-b5e3-7dd309b64d74",
      "name": "IWKZRAGAgent"
    },
    {
      "parameters": {
        "name": "LaporanKeuanganAgent",
        "description": "gunakan tool ini jika pengguna bertanya terkait pemasukan, pengeluaran, laporan keuangan dari IWKZ berdasarkan bulan / tahun atau kombinasi keduanya.",
        "workflowId": {
          "__rl": true,
          "value": "EUuE5WTJ8Kj9KVGp",
          "mode": "list",
          "cachedResultUrl": "/workflow/EUuE5WTJ8Kj9KVGp",
          "cachedResultName": "LaporanKeuanganAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        240,
        688
      ],
      "id": "f565f1b0-0fdf-4bf7-849d-98372eca6737",
      "name": "LaporanKeuanganAgent"
    },
    {
      "parameters": {
        "name": "CalendarAgent",
        "description": "gunakan tool ini jika pengguna ingin mengetahui kegiatan / event dari IWKZ dalam waktu dekat. atau jika pengguna menanyakan informasi dari sebuah kegiatan / event, berdasarkan waktu yang diberikan.",
        "workflowId": {
          "__rl": true,
          "value": "pmcl7auIl2KThFSh",
          "mode": "list",
          "cachedResultUrl": "/workflow/pmcl7auIl2KThFSh",
          "cachedResultName": "CalendarAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        400,
        688
      ],
      "id": "364a57f6-d5aa-4453-8c5a-ea2d28d7e1d8",
      "name": "CalendarAgent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user_id }}",
        "databaseName": "iwkz",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -400,
        288
      ],
      "id": "fa7a6e7e-920d-4cd8-9420-b049b54e8d38",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "lwP0ljaTccDiNveO",
          "name": "MongoDB - info@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/636769649516172/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $json.message_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        208
      ],
      "id": "6aa8480c-31a1-4f5d-a252-875930eb6e86",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "XlsbjJTDkKmoIEhQ",
          "name": "Whatsapp Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f8848842-5245-4109-b6e4-0c8c72cc4a28",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "=null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "82a4c003-5090-4767-b1d6-713139d25ff5",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1040,
        224
      ],
      "id": "4110ef7c-542e-48ab-a9dd-928af39ba45d",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IWKZ AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TokoAlFalahAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "JadwalShalatAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Message Received": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Response To WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Response To Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NukiPintuMasjidAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IWKZRAGAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LaporanKeuanganAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CalendarAgent": {
      "ai_tool": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "IWKZ AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4b1c4783-1baf-46cc-b790-19ae4f50cd64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "xWl4OeNNi3OQGngF",
  "tags": []
}