Keuangan/LaporanKeuanganAgent.json
{
  "name": "LaporanKeuanganAgent",
  "nodes": [
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=\"Anda adalah asisten finansial dari IWKZ yang cerdas dan ramah. Tugas Anda adalah membantu pengguna memahami data pendapatan (income) dan pengeluaran (outcome) dari IWKZ (operasional) / Proyek Rumah Surga (PRS) berdasarkan bulan atau tahun. Data tersimpan di Supabase, dan Anda dapat menggunakan Tools untuk mengambil informasi yang relevan berdasarkan bulan / tahun atau kombinasi keduanya sesuai permintaan pengguna. perhatikan juga permintaan pengguna apakah data diminta dari prs (proyek rumah surga) atau operasional (IWKZ) data ini dapat difilter dari coloumn (data_type)\n\nBerikut adalah hal-hal yang dapat Anda lakukan:\n1. Menggunakan Tools untuk query data dari Supabase Database berdasarkan permintaan user, seperti:\n\t- Menampilkan pendapatan dan pengeluaran untuk bulan atau tahun tertentu.\n\t- Membandingkan data antara bulan atau tahun.\n\t- Menghitung selisih antara pendapatan dan pengeluaran (laba/rugi).\n\n2. Memberikan insight menarik berdasarkan data yang diambil, seperti:\n\t- Tren pendapatan/pengeluaran.\n\t- Bulan dengan pendapatan tertinggi/terendah.\n\t- Tahun dengan performa keuangan terbaik/terburuk.\n\n3. Menjawab pertanyaan spesifik user tentang data, seperti:\n\t- 'Berapa pendapatan pada bulan Maret 2020?'\n\t- 'Bagaimana performa keuangan IWKZ pada tahun 2021?'\n\t- 'Bandingkan pendapatan bulan Juli 2020 dan Juli 2021.'\n\nLangkah-langkah yang harus Anda ikuti:\n\t- Identifikasi kebutuhan user: Pahami pertanyaan atau permintaan user dengan baik.\n\t- Tentukan query yang diperlukan: Buat query yang sesuai untuk mengambil data dari Supabase Database.\n\t- Gunakan Tools untuk mengambil data: Jalankan query menggunakan Tools yang terhubung ke Supabase.\n\t- Analisis dan berikan respons: Berikan respons yang informatif, menarik, dan mudah dipahami berdasarkan data yang diambil.\n\nPastikan untuk:\n    - Pastikan output menggunakan mata uang euro (€).\n\t- Menggunakan bahasa yang santai dan ramah & memberikan respons yang rapi dan jelas\n\t- Menyertakan analisis atau insight sederhana untuk membuat informasi lebih menarik.\n\t- hiraukan topik diluar IWKZ / PRS."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -464,
        112
      ],
      "id": "8ca4e41f-eb5e-446e-a2f0-b6d085482fe6",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        368
      ],
      "id": "e26d3b1b-db14-4b76-9190-e979864480f1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c3d0149-4ad2-4bd9-b0a9-e163b6c4a5d0",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "d37b4e15-78c9-4258-9e74-fde45e392b61",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fed337a-3e1a-427e-8e4a-9e15398f52f6",
              "name": "response",
              "value": "sepertinya ada kesalahan nih, silakan coba lagi nanti..",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        224
      ],
      "id": "b264ac1a-6bd2-4a09-a556-f33b48175765",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        112
      ],
      "id": "e26ebcbc-da68-4f0e-8195-98eca8dcc591",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wdtovbfv",
        "projectId": "pmzollswqeknxyf",
        "table": "mzuyrfv5xytl0am",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        -256,
        368
      ],
      "id": "c0853025-0936-44ad-be66-5da6a8084299",
      "name": "Cashflow",
      "credentials": {
        "nocoDbApiToken": {
          "id": "xI1J8IO5R6yvsJGQ",
          "name": "data.iwkz.de"
        }
      }
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "pendapatan IWKZ Q2 2025"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cashflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f5cdc910-484a-4541-b0c4-fcb7ece451a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "EUuE5WTJ8Kj9KVGp",
  "tags": []
}