Keuangan/PembukuanAgent.json
{
  "name": "PembukuanAgent",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data.transactionsSaveToDb",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        -64
      ],
      "id": "2f56338b-8bbe-4337-91ec-5c1d2bd2738d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.transactionsSaveToDb",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        144
      ],
      "id": "80565e60-28c3-482c-a907-c0a2d319123a",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "=pmzollswqeknxyf",
        "projectId": "=pmzollswqeknxyf",
        "table": "medpa4zue3t51t1",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        576,
        -48
      ],
      "id": "efc04b77-5be2-4b23-b57a-afea41d55e5f",
      "name": "Pembukuan Operasional",
      "credentials": {
        "nocoDbApiToken": {
          "id": "xI1J8IO5R6yvsJGQ",
          "name": "data.iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "=pmzollswqeknxyf",
        "projectId": "=pmzollswqeknxyf",
        "table": "mifdc1p5uukas3f",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        576,
        160
      ],
      "id": "76320828-96fb-4cb8-90aa-a733b0151ace",
      "name": "Pembukuan PRS",
      "credentials": {
        "nocoDbApiToken": {
          "id": "xI1J8IO5R6yvsJGQ",
          "name": "data.iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Map File Id & Type').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        416
      ],
      "id": "9c7bb5d6-49d8-4d2a-9ffe-f4f41adaddb7",
      "name": "Remove File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s6dn5IvIFciIwwMd",
          "name": "Google Drive - info@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0080d046-92fb-4372-86a3-645db85caa94",
              "name": "document_date",
              "value": "={{ $('API IWKZ - Financereport').item.json.document_date }}",
              "type": "string"
            },
            {
              "id": "511d6147-1bd9-4bc0-8a15-797cbbfc38f0",
              "name": "document_type",
              "value": "={{ $('Map File Id & Type').item.json.document_type }}",
              "type": "string"
            },
            {
              "id": "378e8c8f-7a5b-4850-8c7b-cab17c635542",
              "name": "spreadsheet_id",
              "value": "={{ $json.spreadsheetId }}",
              "type": "string"
            },
            {
              "id": "7524192a-3517-49d7-ac1b-a60987216f71",
              "name": "data",
              "value": "={{ $('API IWKZ - Financereport').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        304
      ],
      "id": "41d8e139-8143-451c-9747-0855eaad7e60",
      "name": "Cleanup Result"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f92fa88a-4e4e-4956-a728-5456b172f4b5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2704,
        304
      ],
      "id": "33dc97aa-d3f4-40f8-bfc2-815032c6ce41",
      "name": "Webhook File Upload",
      "webhookId": "f92fa88a-4e4e-4956-a728-5456b172f4b5"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Map File Id & Type').item.json.document_type }}_{{ $json.document_date }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1168,
        304
      ],
      "id": "7648d0cd-da62-4673-b752-169efb665c7f",
      "name": "Create GSheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A8PwCavbJ1C4Xh1l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Cleanup Result').item.json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create GSheets').item.json.sheets[0].properties.title }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -48,
        416
      ],
      "id": "b8a58cd9-ffaa-4892-ae36-b7e52f2681a5",
      "name": "Record To GSheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A8PwCavbJ1C4Xh1l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create GSheets').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "0AOuxrKiAM8-OUk9PVA",
          "mode": "list",
          "cachedResultName": "Vorstand",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AOuxrKiAM8-OUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1do8CaXl3dQKXoOWns_ijacyt27rbrxJI",
          "mode": "list",
          "cachedResultName": "results",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1do8CaXl3dQKXoOWns_ijacyt27rbrxJI"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        416
      ],
      "id": "cf8a4969-8d66-425d-b7fa-02d4f8e5ae2e",
      "name": "Move Results",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s6dn5IvIFciIwwMd",
          "name": "Google Drive - info@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8170378f-9c00-46ad-8588-40772ff87d18",
              "name": "id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "4e82b65b-4df4-419f-8801-5670fcc0ee99",
              "name": "document_type",
              "value": "={{ $json.body.document_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2464,
        304
      ],
      "id": "fdfbe233-05ea-4d91-885a-20da9567a99f",
      "name": "Map File Id & Type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.document_type }}",
                    "rightValue": "operasional",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "a33d98fc-e974-4c9b-8fe9-a193902f2073"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0eb484d-e57c-46ea-be94-c01907e4a6de",
                    "leftValue": "={{ $json.document_type }}",
                    "rightValue": "prs",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -352,
        32
      ],
      "id": "0e4a8b60-338a-4600-836c-7162cff98636",
      "name": "Switch Based on Type"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.transactions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -352,
        416
      ],
      "id": "95c1ca43-2a99-4608-b1fe-97e46251679f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2000,
        304
      ],
      "id": "08c0e235-0dcd-4966-9082-9307916573b8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert financial data extraction agent. Your task is to extract transaction data from a flattened, raw text extraction of a Postbank bank statement and return it strictly as a JSON object.\n\n### UNDERSTANDING THE RAW TEXT PATTERN:\nTransactions are listed sequentially between the \"Alter Saldo\" (Old Balance) and \"Neuer Saldo\" (New Balance). \nA transaction generally follows this pattern, though some fields like \"Name\" might be missing for internal bank fees (like \"Abschlussposten\"):\n1.  **Amount & Sign:** Starts with a \"+\" or \"-\" followed by a number, often directly attached to text (e.g., \"+ 446,77SEPA\", or \"- 33,62Verwendungszweck\"). THIS is the trigger for a new transaction.\n2.  **Name (Optional):** The sender or receiver (if present).\n3.  **Valuta Date:** Split across two lines (e.g., \"01.02.\" then \"2026\").\n4.  **Buchung Date:** Split across two lines (e.g., \"02.02.\" then \"2026\").\n5.  **Description:** Usually preceded by \"Verwendungszweck/ Kundenreferenz\", followed by text.\n\n### INSTRUCTIONS:\n1.  **Extract the Document Date:** * Find the end date of the statement period from the top (e.g., \"bis 27.02.2026\").\n    * Map this to the root `date` field in the format \"DD.MM.YYYY\".\n2.  **Extract & Format Transactions:** Loop through the text and extract EVERY transaction starting from the first \"+\" or \"-\" after \"Alter Saldo\".\n    * `amount`: Extract the number attached to the \"+\" or \"-\". Convert the European comma to a dot (e.g., \"446,77\" -> 446.77). Output as a standard JSON float.\n    * `status`: \"income\" if it started with \"+\", \"outcome\" if it started with \"-\".\n    * `date`: Extract the *Buchung* date (the second date block). Combine day/month/year and format as \"DD-MM-YYYY\". \n    * `description`: Concatenate all text associated with this transaction into a single string (Name, Verwendungszweck, etc.). Separate joined lines with a single space.\n3.  **FINAL VERIFICATION (MANDATORY):**\n    * You must not stop extracting until you reach the exact phrase \"Neuer Saldo\".\n    * Look specifically at the text immediately preceding \"Neuer Saldo\". There is usually a final deduction (e.g., \"- 33,62Verwendungszweck/ Kundenreferenz Saldo der Abschlussposten\"). You MUST include this final transaction in your output array.\n\n### EXPECTED JSON SCHEMA:\nYou must respond ONLY with valid JSON matching the exact structure below. Do not include markdown formatting like ```json, and do not include any conversational text.\n\n{\n  \"date\": \"DD.MM.YYYY\",\n  \"data\": [\n    {\n      \"date\": \"DD-MM-YYYY\",\n      \"amount\": 0.00,\n      \"status\": \"income | outcome\",\n      \"description\": \"String containing the full extracted description details\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1760,
        304
      ],
      "id": "e16c02b5-f11b-444d-aa12-b2fca37ac854",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1808,
        528
      ],
      "id": "a2719505-43b9-445c-8d6e-264306066664",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"date\": \"DD.MM.YYYY\",\n  \"data\": [\n    {\n      \"date\": \"DD-MM-YYYY\",\n      \"amount\": 0.00,\n      \"status\": \"income | outcome\",\n      \"description\": \"String containing the full extracted description details\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1568,
        544
      ],
      "id": "c3b876ea-d619-428e-8eea-03928fb68dd1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iwkz.de/api/financereport/process-statement",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 47f87605a1ebd94ada90e544c3ea27fb7019130a581948cf285d2ceb42e5e037606ceeb52c4bd12d6a99beb56a2bab4ef033855a5483eae676b82f2148be840a69f93342482370c8b02368f6842ec1e5a90dbd66ab9846479436311115ced93215f7364d302e00a958c9ca0329b94ff5560613bb10caf15197f6e671d5fb9050"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        304
      ],
      "id": "0aacb7d0-a6d5-4ca8-ab59-bace16c53e08",
      "name": "API IWKZ - Financereport"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "503875ab-5ae2-4bdb-9dbb-d915454149a1",
              "name": "data_type",
              "value": "={{ $json.document_type }}",
              "type": "string"
            },
            {
              "id": "5624c895-9c1f-4ae0-b364-ccf520da1b2d",
              "name": "income",
              "value": "={{ $json.data.transactionCashflow.income }}",
              "type": "number"
            },
            {
              "id": "cabf20ea-e60c-4940-a721-fe680b69b8d7",
              "name": "outcome",
              "value": "={{ $json.data.transactionCashflow.outcome }}",
              "type": "number"
            },
            {
              "id": "571672e4-33c2-4a99-b15d-e6c52f934f6e",
              "name": "month",
              "value": "={{ $json.data.transactionCashflow.month }}",
              "type": "number"
            },
            {
              "id": "7940bea6-ee18-4b93-9384-3ccffafb0558",
              "name": "year",
              "value": "={{ $json.data.transactionCashflow.year }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        672
      ],
      "id": "d9361c63-cef4-4cb0-a987-71190a7df4e4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2224,
        304
      ],
      "id": "6df85f37-16f2-45a7-9d3b-7d0e228b66eb",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s6dn5IvIFciIwwMd",
          "name": "Google Drive - info@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "=pmzollswqeknxyf",
        "projectId": "=pmzollswqeknxyf",
        "table": "mzuyrfv5xytl0am",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -64,
        672
      ],
      "id": "3d250168-1ac3-40a0-b5fc-b2506cdf2dd2",
      "name": "Cashflow",
      "credentials": {
        "nocoDbApiToken": {
          "id": "xI1J8IO5R6yvsJGQ",
          "name": "data.iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 95,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        -64
      ],
      "id": "e3ef6ee6-c129-4e90-a11b-f8a5d39736dd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "batchSize": 95,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        144
      ],
      "id": "47b81b6e-0156-4aac-8a52-4f1b6694fe46",
      "name": "Loop Over Items1"
    }
  ],
  "pinData": {
    "Webhook File Upload": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "localhost:5678",
            "content-length": "64",
            "content-type": "application/json",
            "user-agent": "Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd9Bjk8s2ssXDNBWV7Tjql3jeX_euFM)",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "1dylOeOpFOPgXm78jsyJjnobB6vYLhPSW",
            "document_type": "prs"
          },
          "webhookUrl": "https://aiflow.iwkz.de/webhook/f92fa88a-4e4e-4956-a728-5456b172f4b5",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Result": {
      "main": [
        [
          {
            "node": "Switch Based on Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook File Upload": {
      "main": [
        [
          {
            "node": "Map File Id & Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GSheets": {
      "main": [
        [
          {
            "node": "Cleanup Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record To GSheets": {
      "main": [
        [
          {
            "node": "Move Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Results": {
      "main": [
        [
          {
            "node": "Remove File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map File Id & Type": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Based on Type": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Record To GSheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "API IWKZ - Financereport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API IWKZ - Financereport": {
      "main": [
        [
          {
            "node": "Create GSheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Cashflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pembukuan Operasional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pembukuan Operasional": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Pembukuan PRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pembukuan PRS": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f9052286-341c-47c0-869b-346986646137",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "PrBoPaSiAZboWFE0",
  "tags": []
}