Toko/paymentConfirmationAgent.json
{
  "name": "paymentConfirmationAgent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -816,
        32
      ],
      "id": "2d747d8f-0c5e-4fd0-b4ff-38f0693aa36f",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a3fb142-6164-4ffa-a742-6e58c292c94a",
              "leftValue": "={{ $json.total_ordered_price }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0ed91fe9-6c11-4e5b-863a-bce775899697",
              "leftValue": "={{ $json.ordered_product }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        32
      ],
      "id": "764966eb-7f54-4f9e-abb7-dfb31b701ed7",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d879350-f37b-4d8b-a1f4-ff5693c5964b",
              "name": "ordered_product",
              "value": "={{ $('If').item.json.ordered_product }}",
              "type": "array"
            },
            {
              "id": "22a5e133-9dad-4782-87e9-c9cc77ac206d",
              "name": "customer_order_id",
              "value": "={{ $json.fields.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2738a808-e93d-4036-89d9-870c2979808d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBMNB1kKxxVNsFh",
          "mode": "list",
          "cachedResultName": "Toko AlFalah",
          "cachedResultUrl": "https://airtable.com/appBMNB1kKxxVNsFh"
        },
        "table": {
          "__rl": true,
          "value": "tbl5GeEzb8qDrVnJw",
          "mode": "list",
          "cachedResultName": "OrderDetail",
          "cachedResultUrl": "https://airtable.com/appBMNB1kKxxVNsFh/tbl5GeEzb8qDrVnJw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_name": "={{ $json.ordered_product.product_name }}",
            "amount": "={{ $json.ordered_product.quantity }}",
            "total_price": "={{ $json.ordered_product.total_price }}",
            "customer_order_id": "={{ $json.customer_order_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "customer_order_id",
              "displayName": "customer_order_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_price",
              "displayName": "total_price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        0
      ],
      "id": "7f4c9e1f-4854-4b84-8b67-87974e3bce24",
      "name": "Airtable3",
      "credentials": {
        "airtableTokenApi": {
          "id": "Jb1ujve2HobpIdsr",
          "name": "Airtable - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "ordered_product",
        "include": "selectedOtherFields",
        "fieldsToInclude": "customer_order_id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "c8177c8d-a728-46aa-88a3-09d3a9c32c88",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25c0a8dc-ba11-4b39-9cd0-7f5f75e68ffb",
              "name": "message",
              "value": "=Silakan melakukan pembayaran ke paypal https://paypal.me/tokoiwkz/{{ $('If').item.json.total_ordered_price }} jika sudah tolong dikonfirmasi ya, cukup bilang: 'Sudah saya bayar'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "46a944b3-0152-4862-9083-be24ff24d915",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBMNB1kKxxVNsFh",
          "mode": "list",
          "cachedResultName": "Toko AlFalah",
          "cachedResultUrl": "https://airtable.com/appBMNB1kKxxVNsFh"
        },
        "table": {
          "__rl": true,
          "value": "tblOqNBKqsimGkxM9",
          "mode": "list",
          "cachedResultName": "CustomerOrder",
          "cachedResultUrl": "https://airtable.com/appBMNB1kKxxVNsFh/tblOqNBKqsimGkxM9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone_number": "123123",
            "total": "={{ $json.total_ordered_price }}",
            "Status": "waiting"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "done",
                  "value": "done"
                },
                {
                  "name": "waiting",
                  "value": "waiting"
                },
                {
                  "name": "cancel",
                  "value": "cancel"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f8bc265f-6eb2-4037-a4ab-f60c289c6b14",
      "name": "CustomerOrder1",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "Jb1ujve2HobpIdsr",
          "name": "Airtable - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.query)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        32
      ],
      "id": "6f7ffe0f-978d-4cae-9948-f4a53cd17f67",
      "name": "Code"
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "{\"user_id\": \"201e35ab0ea245879f621b0ba6b8996e\", \"message\": \"ja betul, \\n\" , \"total_ordered_price\": 13.5, \"ordered_product\": [{\"product_name\": \"Ayran Manggo\", \"quantity\": 3, \"total_price\": 13.5}]}"
        }
      }
    ]
  },
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CustomerOrder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CustomerOrder1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b6f3065f-3648-4bea-81db-4393ab6ecc79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "nqgdA8d0Ikdbj3xr",
  "tags": []
}