Toko/productAgent.json
{
  "name": "productAgent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        112
      ],
      "id": "72901767-6f58-4ede-aa11-2ab156a2cd67",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nKamu adalah AI Agent Toko AlFalah yang bertanggung jawab untuk menampilkan daftar produk yang dijual di toko AlFalah.\n\n- gunakan \"Get Product\" untuk mendapatkan daftar produk yang dijual di Toko AlFalah.\n- tampilkan produk berdasarkan nama dan harga dalam euro."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -368,
        112
      ],
      "id": "166e2e78-f6e0-48a8-b225-be13ce65a48d",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        304
      ],
      "id": "0f3a1e49-c5ef-4153-9674-4977e0ce076d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b96df53-a3a5-4346-b1bd-a95c213e84aa",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "3e45e888-5107-4894-8070-fd9121087f1c",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0f49ba9-91a5-4db4-80b5-08b2469ca306",
              "name": "response",
              "value": "sepertinya terjadi masalah nih, sialakan coba lagi nanti...",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ],
      "id": "0e2ed9e7-5e8c-4a05-8cfd-aa0967e0bce8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBMNB1kKxxVNsFh",
          "mode": "list",
          "cachedResultName": "Toko AlFalah",
          "cachedResultUrl": "https://airtable.com/appBMNB1kKxxVNsFh"
        },
        "table": {
          "__rl": true,
          "value": "tblfTxN4waeOwM2kA",
          "mode": "list",
          "cachedResultName": "Product",
          "cachedResultUrl": "https://airtable.com/appBMNB1kKxxVNsFh/tblfTxN4waeOwM2kA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -208,
        320
      ],
      "id": "2a0fbf87-ccce-42f3-9f70-9d383b50b6f8",
      "name": "Get Product",
      "credentials": {
        "airtableTokenApi": {
          "id": "Jb1ujve2HobpIdsr",
          "name": "Airtable - juan@iwkz.de"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "07d2b297-5aae-4ad2-8ae5-5f45ed1e0532",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "UtMZPeugLYyRGRMc",
  "tags": []
}