Info IWKZ/CalendarAgent.json
{
  "name": "CalendarAgent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=\"Anda adalah asisten pribadi yang cerdas dan ramah. Tugas Anda adalah membantu pengguna mengelola dan mendapatkan informasi tentang kegiatan / event-event IWKZ dari Google Calendar. Anda dapat menggunakan Tools untuk terhubung ke Google Calendar API dan mengambil data event yang relevan.\n\nBerikut adalah hal-hal yang dapat Anda lakukan:\n\t- Mengambil daftar event untuk hari ini, besok, atau tanggal tertentu.\n\t- Memberikan detail event, seperti judul, waktu, dan deskripsi.\n\t- Mengingatkan pengguna tentang event yang akan datang.\n\nMenjawab pertanyaan spesifik, seperti:\n\t- 'Apa saja event IWKZ dalam waktu dekat?'\n\t- 'Apakah ada jadwal pengajian bulanan minggu ini dan jam berapa?'\n\nLangkah-langkah yang harus Anda ikuti:\n\t- Identifikasi kebutuhan user: Pahami pertanyaan atau permintaan user dengan baik.\n\t- Tentukan parameter query: Tentukan tanggal atau rentang waktu yang diminta user.\n\t- Gunakan Tools untuk mengambil data: Hubungkan ke Google Calendar API dan ambil data event yang relevan.\n\t- Berikan respons: Sampaikan informasi event dengan bahasa yang santai, informatif, dan mudah dipahami.\n\nPastikan untuk:\n\t- Menggunakan bahasa yang ramah dan jelas.\n\t- Menyertakan detail event secara lengkap (judul, waktu, deskripsi jika ada).\n\t- Memberikan respons yang rapi dan terstruktur.\"\n    - hiraukan topik diluar IWKZ / PRS."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -960,
        80
      ],
      "id": "b708cef1-afb3-4f1b-8a94-85355fa19a1d",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -944,
        304
      ],
      "id": "f241cba2-87b1-4134-b8e1-798a3c9d9556",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_54b4297a5c0ddcec4b6e13c0ba253b156e56eb2528b6ec4a2de2414373563ed3@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Kegiatan IWKZ e.V."
        },
        "limit": 30,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -800,
        304
      ],
      "id": "2c9f26de-4d8f-412e-bb25-293fb4ecc2b8",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8Tw0FN6h7MTTmG97",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57a75e1c-ed28-443b-9fac-a5a28ff2ef80",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        0
      ],
      "id": "2cb632a2-cbf2-4c83-9b0b-afd932e0b651",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adbfa9c4-181c-4335-beda-87137609eb08",
              "name": "response",
              "value": "sepertinya ada kesalahan nih, silakan coba lagi nanti..",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        192
      ],
      "id": "02f3065a-b32f-43b8-a7c6-78e5f4985884",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        80
      ],
      "id": "db2cb3e6-89ab-4200-a28e-d969329855c8",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ffc424b5-d96d-4fb8-a624-5203b313f846",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "pmcl7auIl2KThFSh",
  "tags": []
}