Info IWKZ/IWKZRAGAgent.json
{
  "name": "IWKZRAGAgent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1800,
        180
      ],
      "id": "bf42765a-129d-45a1-924c-fa4b72b5a2ca",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "iwkz",
          "mode": "list",
          "cachedResultName": "iwkz"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -1360,
        180
      ],
      "id": "ce38fd8a-c915-4ac2-9498-460ad87cd6a7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NNMzswIAKht7etMN",
          "name": "PineconeApi - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1400,
        420
      ],
      "id": "2b5bd9dc-d58f-4542-b6cf-523ef84ec629",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Y3n6nu5fhNxMWX91",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1200,
        420
      ],
      "id": "592835f9-f137-4f10-9a5e-2be69b016a0f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1180,
        620
      ],
      "id": "ae61b04b-a71b-40dd-94a2-578acdc6e748",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1LZA7m1hHmtG1pdCz5Fzi7ScCy_JwQLADD9VEzjpz9I4",
          "mode": "list",
          "cachedResultName": "AI Agent RAG Feeder",
          "cachedResultUrl": "https://docs.google.com/document/d/1LZA7m1hHmtG1pdCz5Fzi7ScCy_JwQLADD9VEzjpz9I4/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1580,
        180
      ],
      "id": "5eece7cb-dd91-4847-90fc-14d097b2de33",
      "name": "Get RAG Feeder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EgwlQ8plLHmHDVk4",
          "name": "GDrive - info@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "content": "## Feed data to DB\n- retrieve the informations from https://docs.google.com/document/d/1LZA7m1hHmtG1pdCz5Fzi7ScCy_JwQLADD9VEzjpz9I4/edit?usp=drive_link\n- extract and store data to vector DB Pinecone",
        "height": 720,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1880,
        60
      ],
      "typeVersion": 1,
      "id": "a4123d3f-93ef-472a-8c30-a26c9feba609",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -360,
        100
      ],
      "id": "a487006d-9363-4401-9966-d7299438fe9d",
      "name": "RAG Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -420,
        320
      ],
      "id": "ec27a9d4-cf56-406a-9db4-5b2e807faaa6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Y3n6nu5fhNxMWX91",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "name": "prompting_information",
        "description": "mengambil data tentang IWKZ perkenalan, struktur pengurus sampai dengan kegiatan",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -140,
        400
      ],
      "id": "dc0b1172-df3d-4e53-b649-4cccf84f8e0d",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        540
      ],
      "id": "de2995b2-142b-4cd3-9bc9-9efda9988765",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Y3n6nu5fhNxMWX91",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "iwkz",
          "mode": "list",
          "cachedResultName": "iwkz"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -280,
        580
      ],
      "id": "4b1f12f1-675e-445b-b31d-55274b348c8d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "NNMzswIAKht7etMN",
          "name": "PineconeApi - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        800
      ],
      "id": "13c65bbd-0e7d-4a00-9615-246d202aec47",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Y3n6nu5fhNxMWX91",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d46b838-76de-4e90-92e2-971a749bd50f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "08603270-2884-4791-97ac-f3036dda380c",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05835ad2-1e70-4dfa-a497-e53c9f338148",
              "name": "response",
              "value": "sepertinya ada kesalahan nih, silakan coba lagi nanti..",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        200
      ],
      "id": "5a027d57-fbf5-4d89-936c-c8043408d830",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        100
      ],
      "id": "eaa39ce0-2a04-4e09-9567-95bdfad3f58c",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get RAG Feeder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get RAG Feeder": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d69d09b-9521-46d5-b99b-a88b61bcee4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee0dccd299bde7075e34c05c2ea755c535d8116ab50f4e240081c45c3dc39b39"
  },
  "id": "5lq1gt0FZlFXf66B",
  "tags": []
}