Info IWKZ/IWKZRAGAgent.json
{
  "name": "IWKZRAGAgent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1808,
        192
      ],
      "id": "a433146a-9a87-4295-ab7b-5155b3e0f528",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "iwkz",
          "mode": "list",
          "cachedResultName": "iwkz"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -1360,
        192
      ],
      "id": "20715d80-4b97-43a8-a8d8-c189e0ecb6c9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lEusiXHsYaSSaMwb",
          "name": "Pinecone - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1408,
        432
      ],
      "id": "29a3b5cd-cebb-4335-b9df-25cc7342950e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1200,
        432
      ],
      "id": "b7b70274-5d61-47da-9610-360917a1b19d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1184,
        624
      ],
      "id": "d6be539b-72af-4d90-aa82-d5d32ed44a22",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1LZA7m1hHmtG1pdCz5Fzi7ScCy_JwQLADD9VEzjpz9I4",
          "mode": "list",
          "cachedResultName": "AI Agent RAG Feeder",
          "cachedResultUrl": "https://docs.google.com/document/d/1LZA7m1hHmtG1pdCz5Fzi7ScCy_JwQLADD9VEzjpz9I4/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1584,
        192
      ],
      "id": "bebabe9b-ad47-4aac-931b-fb170fff5146",
      "name": "Get RAG Feeder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s6dn5IvIFciIwwMd",
          "name": "Google Drive - info@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "content": "## Feed data to DB\n- retrieve the informations from https://docs.google.com/document/d/1LZA7m1hHmtG1pdCz5Fzi7ScCy_JwQLADD9VEzjpz9I4/edit?usp=drive_link\n- extract and store data to vector DB Pinecone",
        "height": 720,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        64
      ],
      "typeVersion": 1,
      "id": "f70f31a5-a096-4754-b255-ebcc105c1072",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -368,
        112
      ],
      "id": "a7d16285-8e10-439e-b200-51083cb3fffa",
      "name": "RAG Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -416,
        320
      ],
      "id": "b60ab9eb-52d7-4d9b-821b-aef7449ca007",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "name": "prompting_information",
        "description": "mengambil data tentang IWKZ perkenalan, struktur pengurus sampai dengan kegiatan",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -144,
        400
      ],
      "id": "93b23875-748a-46c3-983a-96a5e835373b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        544
      ],
      "id": "1c36f375-f2c8-4168-9571-e613aaf4f70c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "iwkz",
          "mode": "list",
          "cachedResultName": "iwkz"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -288,
        592
      ],
      "id": "e6898ec2-21d1-4da4-a719-2936270cb9bd",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "lEusiXHsYaSSaMwb",
          "name": "Pinecone - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        800
      ],
      "id": "1e49e36a-8e4f-44bc-b844-51b810f7b865",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "XMCVh3PkMalsb8X3",
          "name": "OpenAI - juan@iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d46b838-76de-4e90-92e2-971a749bd50f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "2023e405-0143-4343-879a-b60a4401dd0a",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05835ad2-1e70-4dfa-a497-e53c9f338148",
              "name": "response",
              "value": "sepertinya ada kesalahan nih, silakan coba lagi nanti..",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ],
      "id": "034038c7-eb28-4b0a-85a7-64fe172a4040",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        112
      ],
      "id": "46c1544d-6d93-469b-a613-61186db1984a",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "Alamat lengkap IWKZ"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get RAG Feeder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get RAG Feeder": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d1958416-b53a-45b8-b805-2833845168f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "d5RVNl0yye2ZDGCq",
  "tags": []
}