Info IWKZ/NukiPintuMasjidAgent.json
{
  "name": "NukiPintuMasjidAgent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        272
      ],
      "id": "0e3dbd97-060a-45f1-9110-0af9e0f85488",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40e4828a-bf7c-412b-b918-ff90ddcce735",
              "leftValue": "={{ $json.query }}",
              "rightValue": "buka",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        272
      ],
      "id": "076bd8a2-d643-4654-b37b-8aa575ef054a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nuki.io/smartlock/475351837/action/unlock",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer e6d3ec6aedb22817f52f09c1434bb60ac707b0c6c4eadbd494e2d2f0ed3c91cdb3e5fb2bc18fd37b"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        96
      ],
      "id": "0ca441ac-5f0c-4e3e-b8d2-6c225b06ca57",
      "name": "Nuki Unlock",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nuki.io/smartlock/475351837/action/lock",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer e6d3ec6aedb22817f52f09c1434bb60ac707b0c6c4eadbd494e2d2f0ed3c91cdb3e5fb2bc18fd37b"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        464
      ],
      "id": "eef34d61-b4a4-42b9-acb0-b57daff9fd14",
      "name": "Nuki Lock",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af17dd0e-502e-4888-a621-f6f75cb59181",
              "name": "response",
              "value": "sepertinya terjadi kesalahan dalam membuka pintu masjid..",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        192
      ],
      "id": "e753e952-19f8-4b5a-8c85-09b1ce732a73",
      "name": "Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7656ffa4-c360-4728-b973-877714bfc56b",
              "name": "response",
              "value": "pintu sudah dibuka, silakan masuk.. jangan lupa baca doa :)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -16
      ],
      "id": "65934773-f2cd-492b-9183-827b818f933d",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f90dc047-f4ec-4ade-bf3c-44528ce3713e",
              "name": "response",
              "value": "sepertinya terjadi kesalahan dalam menutup pintu masjid..",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        576
      ],
      "id": "d165607d-cf09-499a-93cd-e831dacccda3",
      "name": "Error1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ce870df-83c1-4e03-9aba-1704f9623796",
              "name": "response",
              "value": "terimakasih sudah menutup pintu masjid!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        384
      ],
      "id": "cccc3c9d-7062-4252-adc0-2d81284c6d0d",
      "name": "Success1"
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "buka pintu"
        }
      }
    ]
  },
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Nuki Unlock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nuki Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuki Unlock": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuki Lock": {
      "main": [
        [
          {
            "node": "Success1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2c285d8e-c813-499e-b01e-8d30411d3c5e",
  "meta": {
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "zEAv0hwBIBtPAkIp",
  "tags": []
}