Jadwal Shalat/jadwalShalatQuery.json
{
  "name": "jadwalShalatQuery",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1360,
        160
      ],
      "id": "28a919a0-1536-462a-bf60-4d629f2ea545",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a86c441c-e351-4b2e-9f15-0d13af0ce4b2",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "8e3e3b94-b262-47c5-90b9-b09e851f4a73",
              "name": "subuh",
              "value": "={{ $json.subuh }}",
              "type": "string"
            },
            {
              "id": "be26776e-2779-44ea-a338-7990abf55ca7",
              "name": "terbit",
              "value": "={{ $json.terbit }}",
              "type": "string"
            },
            {
              "id": "5fa46871-4c6d-4f15-ad73-1e46460a4702",
              "name": "dzuhur",
              "value": "={{ $json.dzuhur }}",
              "type": "string"
            },
            {
              "id": "2259887e-b65b-425a-a668-09fb0f769898",
              "name": "ashr",
              "value": "={{ $json.ashr }}",
              "type": "string"
            },
            {
              "id": "531a7cce-50e0-447d-a0c6-2a99164f083d",
              "name": "maghrib",
              "value": "={{ $json.maghrib }}",
              "type": "string"
            },
            {
              "id": "829c58b9-2c2b-4795-8097-f4769427e161",
              "name": "isya",
              "value": "={{ $json.isya }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        160
      ],
      "id": "97a6ec02-5720-4c16-ab5d-44add6de62ff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const dateString = $input.first().json.query;\nconst parts = dateString.split('.');\nconst dayMonth = parts[0] + '.' + parts[1];\nconst year = Number(parts[2]);\nlet isLeapYear = (year % 4 === 0 && year % 100 !== 0) || (year % 400 === 0);\n\nreturn [{\n  dayMonth,\n  year,\n  isLeapYear\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        160
      ],
      "id": "d724e37a-c770-423f-85b8-29a7e89be988",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5597a937-f70e-4ba1-899b-b37beba1ebf0",
              "leftValue": "={{ $json.isLeapYear }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        160
      ],
      "id": "76e5ad20-0850-4364-8215-50b4a724db47",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "=pmzollswqeknxyf",
        "projectId": "=pmzollswqeknxyf",
        "table": "mnaoz7squ852v42",
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -624,
        80
      ],
      "id": "8db43249-86e7-4a49-b62a-7c42719211b4",
      "name": "JadwalShalat",
      "credentials": {
        "nocoDbApiToken": {
          "id": "xI1J8IO5R6yvsJGQ",
          "name": "data.iwkz.de"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "=pmzollswqeknxyf",
        "projectId": "=pmzollswqeknxyf",
        "table": "mfq3w4b85t38vu1",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -624,
        272
      ],
      "id": "7a9ad09b-525f-46d9-b216-b0fc5f071497",
      "name": "JadwalShalatLeapYear",
      "credentials": {
        "nocoDbApiToken": {
          "id": "xI1J8IO5R6yvsJGQ",
          "name": "data.iwkz.de"
        }
      }
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "12.02.2026"
        }
      }
    ]
  },
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "JadwalShalat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JadwalShalatLeapYear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JadwalShalat": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JadwalShalatLeapYear": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a34298c8-0909-4fd7-bb7e-f7bbdab66901",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8affbff09a4eaa4a024d99fac7ff81160809f1d8e138894eb1d4f37122c0b28"
  },
  "id": "nqiOC7BNjFsbHP24",
  "tags": []
}